<section class="phx-hero">
  <h1><%= gettext "Welcome to ROIIM Paysafe Card Checkout", name: "Phoenix" %></h1>
  <p>Seamless Payment at your fingertips</p>
</section>

<section class="container">
  <p>A all in one API which integrates Paysafe payment module Checkout!!</p>
</section>